
$website-bg-color: #0B0C10;
$link-nav-color: #66FCF1;
$text-color: #C5C6C7;
$website-color-alt: #1F2833;
$white-text: #F5F5F5;

body{
  background-color: $website-bg-color;
  margin: unset;
  main{
    padding-top: 80px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
  }
}

nav {
  background-color: $website-color-alt;
  position: fixed;
  top:0;
  left: 0;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid $link-nav-color;

  ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-inline-start: unset;
  }
  li{
    margin-left: 20px;
    margin-right: 20px;
  }
  a{
    text-decoration: none;
    color: $white-text;
    font-size: 16px;
    text-transform: uppercase;
  }
  a:hover{
    color: $link-nav-color;
  }
}

.quizz-header{

  h1, span{ color: $text-color; }

  h1{
    text-align: center;
  }
}

.container{
  padding-left: 20vw;
  padding-right: 20vw;
}

@media (max-width: 767.9px) {
  .container{
    padding-left: 15px;
    padding-right: 15px;
  }
}

.questions{
  h3, label, span{ color:$text-color; }
  span{
    text-transform: uppercase;
  }
}

.homepage{
  padding-top: 80px;
  h1{ color: $text-color;}
}