@import "style/global/variables";

body {
  background-color: $website-bg-color;
  margin: unset;

  main {
    padding-top: 80px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
  }
}


.quizz-header {

  h1, span {
    color: $text-color;
  }

  h1 {
    text-align: center;
  }
}

.container {
  padding-left: 20vw;
  padding-right: 20vw;

  .content_text--color {
    color: $text-color;

    .list--nostyle {
      list-style: none;
    }
  }
}


@media (max-width: 767.9px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.questions {

  margin-top: 20px;
  margin-bottom: 20px;

  &--correct, &--wrong{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-top: 15px;
    border-radius: 16px;
  }

  &--correct {
    background: $green-bg;
  }

  &--wrong{
    background: $red-bg;
  }

  h3, label, span {
    color: $text-color;
  }

  span {
    text-transform: uppercase;
  }
}

.homepage {
  text-align: center;
  padding-top: 80px;

  h1 {
    color: $text-color;
  }
}

.disable {
  pointer-events: none;
}

.button {
  margin-top: 15px;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  background: $link-nav-color;
  transition: 0.2s all;
  border-radius: 4px;
  &:hover{
    background: $website-color-alt;
    color: $text-color;
  }
}